.container{
    height:500px;
    width:400px;
    background-color: darkmagenta; 
    display: flex;
    padding :10px;
    margin-left:10px;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.item{
    height:50px;
    width:80px;
    background-color:red;
    margin:20px;
    padding :10px;
    font-size:40px;
    
}
#item1{
    flex-grow: 1;
}
#item4{
    flex-grow: 2;
}
#item6{
    flex-shrink: 1;
}
body{
    background-color:blueviolet;

}