<html>
    <head>
        <title>
            login
        </title>
    </head>
    <body>
        <form action='/' method="POST">
        Username<input type="username"><br>
        Password <input type ="password"><br>
        <button>LOGIN</button>
        </form>
    </body>
</html>